body {
    font-family: "Lato", sans-serif;
	background: url(Finance.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

footer { background-color: #0C090A;
    color: white;
	font-size: small;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top: 2px #221811 solid;
}

.box {
    z-index: 1;
    overflow-x: hidden;
	background-color: rgba(0, 77, 102, 0.7);
}

.box table {
	color: white;
	font-size: 20px;
}

fieldset legend{
	color:white;
}

.sidenav {
	width: 160px;
    z-index: 1;
    overflow-x: hidden;
	background-color: rgba(0, 77, 102, 0.7);
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
	background-color: rgba(0, 128, 128, 0.7);
}

.temp {
	padding: 12px 12px 0px 12px;
}

.active{
	color: #111;
	background-color: #111;
}

.active a:hover {
    color: white;
	background-color: #111;
}

.temp img {
    padding: 3px;
	background-color: #111;
}

.sign {
	border:1px solid white;
    z-index: 1;
	margin:10px;
    overflow-x: hidden;
	background-color: #0C2032;
}

.sign p {
    padding: 8px 8px 0px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.headerDivider {
	margin-top:10px;
	margin-bottom:10px;
    border-left:1px solid white; 
    border-right:1px solid black;
    height:55px;
}

canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.child-div{
			width: 700px;
			margin: 0 auto;
			text-align: center;
		}

.signout {
    z-index: 1;
	margin-top:20px;
	margin-left:100px;
    overflow-x: hidden;
	background-color: transparent;
}

.signout a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}